body
{
    font-family: Arial, Helvetica, sans-serif;
}

/*Inicio TOP BAR*/
.top-bar
{
    /**position: fixed;*/
    background-color: red;
    height: 54px;
    width: 100%;
    padding-top: 14px;
    box-sizing: border-box;
    
}

.logo-instagram
{
    display: flex;
    margin: auto;
}

.logo-cam
{
    height: 19.25px;
    width:19.25px;
    display: flex;
    margin: right;
}

/*Final TOP BAR*/